body{
    font-family: 'PT Sans Narrow',  sans-serif;
vertical-align: middle;
font-variant-caps: all-small-caps;
font-stretch: bold;
font-weight: 700;
}


.main-navation {
    display: flex;
    flex-direction: column;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation {
  display: flex;
    flex-direction: row; 
    background-color: black;
    min-height: 73px;
    color: white;
    list-style: none;
    order: 1;
	  margin-left: auto;
    margin-right: auto;
	margin: 0px;
	padding: 0px;
   }

.site-navigation li a {
color: white;
text-decoration: none;
margin-right: 30px;
margin-top: 10px;
font-size: 16pt ;
font-family: 'PT Sans Narrow',  sans-serif;
vertical-align: middle;
font-variant-caps: all-small-caps;
font-stretch: bold;
align-items: center;    
}

.site-navigation li{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}


body .container {
     background-color: black; 
    background: url(../img/background_image.jpg);
   margin-top: -210px;
    color: white;
   display: flex;
    flex-direction: column;
}

.main-header-logo {
    align-self: center;
    margin: auto;
    order: 3;
    margin-top: 20px;
    
}

.user-navigation {
  background-color: black;
    min-height: 36px;
    color: white;
    list-style: none;
    order: 2;    
}

.user-navigation li a{
  text-decoration: none;
margin-right: 30px;
margin-top: 10px;
font-size: 16pt ;
font-family: 'PT Sans Narrow',  sans-serif;
vertical-align: middle;
font-variant-caps: all-small-caps;
font-stretch: bold;  
color: white;
}


.string-navigation {
    display: flex;
    flex-direction: row;
     background-color: black;
    min-height: 73px;
    color: white;
    list-style: none;
    justify-content: space-between;
    width: 940px;
	margin: 0px;
	padding: 0px;
	
 
}

.visually-hidden {
    display: none;
}

.features-list {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    justify-content: space-around;
}

.features-item {
width: 280px;  
align-content: center;
}

.features-item img{
margin-left: auto;

}

.features-item   h3{
text-align: center; 
    
    font-size: 30pt;
    margin-left: auto;
    margin-right: auto;
}

.features-item   p{
text-align: center; 
    
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin: 0px auto;
    
}

.news_gallery {
    background-color: white;
    background-image: url(../img/barbershop-index.png);
    color: black;
    display: flex;
    flex-direction: row;
    width: 940px;
    height: 419px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.news {
    
    width: 350px;
    
}

.news h2{
    margin-left: 30px;
    font-size: 30px;
    font-stretch: bold;  
}

.news-list {
    padding: 0px;
    margin: 0px;
   list-style: none; 
}



.news-item p{
    margin-left: 30px;
    font-size: 14pt;
    font-stretch: bold;      

}

time{
 font-variant-caps: normal; 
    margin-left: 30px;
}

.gallery {
    width: 300px;
}



.gallery-button {
    width: 140px;
    height: 44px;
    background-color: black;
    color: white;
    font-size: 14pt;
    font-weight: 700;  
    font-variant-caps: all-small-caps;
    box-shadow: none;
    border: 0;
}

.gallery-content {
   margin: 0px;
    padding: 0px;
    display: block;
    
}

.gallery-button-back {
    margin-right: 10px;
    margin-top: 50px;
    
}

.news-button {
   width: 140px;
    height: 44px;
    background-color: black;
    color: white;  
    list-style: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 14pt;
    margin-left: 30px;
    font-weight: 700;
      
}

.news-button a{
    
    margin-top: 20px;
    background-color: black;
    color: white;  
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 700;  
    font-variant-caps: all-small-caps;
    vertical-align: middle;
}

.news-item {
    margin-bottom: 20px;
}

.news-item p {
   margin-bottom: 5px; 
}

.contacts_appointment {
        background-color: white;
    background-image: url(../img/barbershop-index.png);
    color: black;
    display: flex;
    flex-direction: row;
    width: 940px;
    height: 419px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.gallery h2,
.news h2,
.contacts h2,
.appointment h2{

       font-size: 30pt;
    font-stretch: bold;  
    font-variant-caps: all-small-caps; 
    margin-bottom: 20px;
    
}

.contacts {
    width: 50%;
    margin-left: 70px;
}

.contacts p{
    font-size: 14pt;
}

.button-map {
    background-color: black;
    color: white;
    width: 144px;
    height: 43px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
     margin: 0px;
    padding: 0px;
    font-size: 14pt;
}

.button-contacts {
    margin: 0px;
    padding: 0px;
      background-color: black;
    color: white;
    width: 144px;
    height: 43px;
     display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 14pt;
      margin: 0px;
    padding: 0px;
    
}

.button-contacts a,
.button-map a
{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    font-stretch: bold;  
    font-variant-caps: all-small-caps;    
}

.appointment {
    width: 300px;
    margin-right: 70px;
}

.appointment p{
      font-size: 14pt;
}

.main-footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    background-image: url('../img/barbershop-footer.png');
    
    
}

.appointment-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-indent: 20px;
    
}

.button-submit {
  margin: 0px;
    padding: 0px;
      background-color: black;
    color: white;
    width: 300px;
    height: 43px;
     display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 14pt;
      margin: 0px;
    padding: 0px;  
    font-variant-caps: all-petite-caps;
}

.input-form {
width: 140px;
height: 43px;
border: 2px solid black; 
text-align: justify;

}

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    background-image: url('../img/barbershop-footer.png');
    width: 940px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-contacts {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.footer-contacts a{
    font-size: 14px;
    color: white;
}

.footer-social {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 160px;
}

.social-button {
    display: flex;
    height: 43px;
    width: 43px;
    background-color: black;
    color: white;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main-header {
 
}

.main-string-header {
display: flex;
    flex-direction: row;
      background-color: black;
    min-height: 73px;
    color: white;
    list-style: none;
    justify-content: center;
	margin: 0px;
	padding: 0px;
	
    
}





.main-page-container {
	
display: flex;
background-color: white;
background-image: url("../img/barbershop-index.png");
color: black;
}



.main-container {
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 940px;
	justify-content: space-between;
	margin-left:  auto;
	margin-right:  auto;
	margin-top: 30px;
	flex-direction: column;
}

.main-container h1{
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	
}

.breddcrumbs {
	margin-left: 0px;
	display: inline-flex;
	list-style: none;
	font-size: 14pt;
	align-content: flex-start;
	padding: 0px;
}



.breddcrumbs li{
margin-right: 15px;	
	
}


.breddcrumbs li a{
text-decoration: none;
color:black;
}

.breadcrumds-current {
	color: #aba9a7;
}

.filters-catolog {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	
	
}

.filters {
	margin: 0px;
	width: 290px;
}

.header-of-main {
	font-size: 24pt;
	
}

.catalog-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
	
}

.catalog-item {
	width: 220px;
	height: 285px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: black;
	background-color: white;
	box-shadow: 0px 0px 10px 5px #ebe9e6;
	padding: 0px;
}
.catalog-item p{
	margin: 0px;
	padding: 0px;
}
.catalog-item a{
	margin: 0px;
	padding: 0px;
}

.catalog-category {
	margin-top: 13px;
	display: block;
	margin-left: 15px;
	font-style: normal;
	font-variant-caps: normal;
	margin-bottom: 10px;
	line-height: 0.5em;
	font-weight: 700;
	font-size: 14pt;
}

.catalog-item-title {
	display: block;
	margin-top : 5px;
	padding: 0px;
	margin-left: 15px;
	font-weight: 700;
	font-size: 14pt;
	font-variant-caps: all-petite-caps;
	line-height: 0.5em;
	margin-bottom: 5px;
}

.image-catalog {
	margin-top: 0px;
	margin-bottom: -20px;
}
catalog-item a{
	margin: 0px;
}


.item-description .catalog-item-price{
margin-left: 0px;	
margin-top: 20px;
}


.catalog-item-price {
	width: 187px;
	height: 43px;
	background-color: #e5e5e5;
	color: black;
	margin-bottom: 30px;
	margin-left:auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	font-size: 14px;
}

b.price-holder {
	display: block;
	font-size: 14px;
	margin le: auto;
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 78px;
	height: 43px;
	background-color: black;
	color: white;
		font-size: 14pt;
	font-weight: 700;
	font-variant-caps: all-petite-caps;
	text-decoration: none;
	vertical-align: middle;
	padding: 0px;
	
}



.catalog-button-box {
	display: flex;
	flex-direction: column;
	margin-bottom: -5px;
}

.price-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 14pt;
	width: 109px;
	font-weight: 700;
}



.selector-of-goods {
	display: block;
	margin-bottom: 10px;
	font-size: 14pt;
	line-height: 18pt;
	

}

.pagination-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 50px;
	margin-top: 40px;
}

.pagination-item {
	display: flex;
	width: 43px;
	height: 43px;
	background-color: black;
	color: white;
	justify-content: center;
	align-content: center;
	margin-right: 10px;
	align-items: center;
}
.pagination-item a{

	color: white;
	font-size: 14pt;
	text-decoration: none;
}

.pagination-item-current {
		display: flex;
	width: 43px;
	height: 43px;
	background-color: white;
	justify-content: center;
	align-content: center;
	margin-right: 10px;
	align-items: center;
}
.pagination-item-current a{
		color: black;
	font-size: 14pt;
	text-decoration: none;
}

.login-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.login-img {
	display: block;
	margin: auto;
	margin-top: 13px;
}

.login-link-blink {
	display: block;
	margin: auto;
	margin-left: 14px;
	margin-top: 4px;
}


	
}

.second-navation {
	
}

.big-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	margin-bottom: 30px;
}

.big-header h6 {
	font-size: 48pt;
}

.shaving-aid-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 14pt;
}

.square-form {
	display: inline-block;
	margin-bottom: -2px;
	
	margin-right: 10px;
}

.shaving-aid-masters-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	
}


.shaving-aid-list h2,
.masters-price h2{
	font-size: 24pt;
	margin-top: 10px;
	display: block;
}

.masters-price-table {
	border: 1px solid black;
	border-collapse: collapse;

}

.cell {
	width: 231px;
	height: 43px;
	border: 2px solid black;
	padding-left: 10px;
	
}

.cell-right {
	border-left: 1px solid black;
	text-align: center;
	
}

.includes{
display: block;
margin-bottom: 5px;
}

.words-about-us h2{
	font-size: 24pt;
}

.words-about-us-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
}

.first-words,
.second-words{
	width: 380px;
	font-size: 14pt;
	margin-right: 105px;
	margin-bottom: 50px;
}

li.selected-page a{
margin-top: 0px;
display: flex;
height: 73px;
border-bottom: 2px solid white;
text-align: center;
align-content: center;
align-items: center;

}

.page-title h1{
	margin: 0px;
}

.item-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0px;
	padding: 0px;
}

.item-image-box {
		display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	padding: 0px;

}

.item-image-prevew-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 20px;
	width: 460px;
}

.item-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 380px;
	margin-top: 50px;
	}

.item-description h2{
	font-size: 24pt;
}

.item-description p{
	font-size: 14pt;
	margin-top: 50px;
}

.descrintion-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 380px;
	
}

.vendor-code {
	color: #aeaeae;
	font-size: 14pt;
}

.are-available {
	font-size: 14pt;
}

.The-kit-includes {
	margin: 0px;
	padding: 0px;
}
