body{
    font-family: 'PT Sans Narrow',  sans-serif;
vertical-align: middle;
font-variant-caps: all-small-caps;
font-stretch: bold;
}


.main-navation {
    display: flex;
    flex-direction: column;
    border-color: black;
}

.site-navigation {
  display: flex;
    flex-direction: row; 
    background-color: black;
    min-height: 36px;
    color: white;
    list-style: none;
    order: 1;
   }

.site-navigation li a {
color: white;
text-decoration: none;
margin-right: 30px;
margin-top: 10px;
font-size: 16pt ;
font-family: 'PT Sans Narrow',  sans-serif;
vertical-align: middle;
font-variant-caps: all-small-caps;
font-stretch: bold;
}

.site-navigation li{
     vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}


body .container {
     background-color: black; 
    background: url(../img/background_image.jpg);
   margin-top: -210px;
    color: white;
   display: flex;
    flex-direction: column;
}

.main-header-logo {
    align-self: center;
    margin: auto;
    order: 3;
    margin-top: 20px;
    
}

.user-navigation {
  background-color: black;
    min-height: 36px;
    color: white;
    list-style: none;
    order: 2;    
}

.user-navigation li a{
  text-decoration: none;
margin-right: 30px;
margin-top: 10px;
font-size: 16pt ;
font-family: 'PT Sans Narrow',  sans-serif;
vertical-align: middle;
font-variant-caps: all-small-caps;
font-stretch: bold;  
color: white;
}


.string-navigation {
    display: flex;
    flex-direction: row;
      background-color: black;
    min-height: 36px;
    color: white;
    list-style: none;
    justify-content: space-around;
    
 
}

.visually-hidden {
    display: none;
}

.features-list {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

.featires-item {
align-content: center;    
}

.featires-item h3{
align-content: center; 
    font-size: 30pt;
}
